.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
}

.card {
    width: 20rem;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}
#button1, button2, button3{
    display: flex;
    justify-content: space-evenly;
}
.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

.list-group-item {
    text-align: center;
    font-size: 1rem;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
    color: black;
}

.view {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #ddd;
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}

.view:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}
