.resume-download-section {
  /* background-color: #ffffff; */
  display: flex;
  justify-content: space-evenly;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
}

.btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #0056b3;
}